<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <div class="trigger">
        <ul>
        {% assign sorted_pages = site.pages | sort:"title" %}
        {% for p in sorted_pages %}
          {% if p.title %}
            {% unless p.title contains 'Tagged' %}
            <li>
              <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">

                {% if p.title == page.title %}
                  <strong>{{ p.title }}</strong>
                {% else %}
                  {{ p.title }}
                {% endif %}

              </a>
            </li>
            {% endunless %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </nav>

  </div>

</header>
