@media print {
    .site-nav {
      display: none;
    }
    .post-header {
      display: none;
    }
    .site-footer {
      display: none;
    }
    a[href]:after {
      content: none !important;
    }
    a {
      color: $text-color !important;
    }
    #juan-m-uys::before {
      content: "Curriculum Vitae of ";
    }
}
